<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Google API" bodyClass="app__tab">
    <div class="app__tab_content">
      <div class="app__search_wrapper">
        <form [formGroup]="formGrp" (ngSubmit)="search()">
          <mat-form-field appearance="outline" class="app__search">
            <mat-label>Search term:</mat-label>
            <input matInput formControlName="term" />
            @if (searchCtrl.invalid) {
              <mat-error>Search term is required.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="app__search">
            <mat-label>Keywords [separate by comma (,)]:</mat-label>
            <input matInput formControlName="keywords" />
            @if (keywordsCtrl.invalid) {
              <mat-error>Keywords is required.</mat-error>
            }
          </mat-form-field>

          <mat-checkbox formControlName="isExtract" class="app__checkbox">
            Extract content from HTML
          </mat-checkbox>

          <div class="app__search_btn_wrapper">
            <button mat-fab extended color="primary" class="app__search_btn" type="submit" [disabled]="isSubmitted">
              <mat-icon>search</mat-icon>
              SEARCH
            </button>
          </div>
        </form>
      </div>

      <div class="app__card_wrapper">
        <h6 class="app__result_found" [hidden]="resultSize <= 0">Result found: {{ resultSize }}</h6>
        <div class="app__results_wrapper">
          <mat-grid-list cols="3" gutterSize="20" rowHeight="125px">
            @for (item of siteResults; track item.link) {
              <mat-grid-tile>
                <mat-card class="app__card" appearance="outlined">
                  <mat-card-header>
                    <mat-card-title
                      class="app__card_title"
                      matTooltipPosition="below"
                      [matTooltip]="item.htmlTitle"
                      [innerHTML]="item.htmlTitle"
                    ></mat-card-title>
                    <mat-card-subtitle
                      class="app__card_subtitle"
                      matTooltipPosition="below"
                      [matTooltip]="item.formattedUrl"
                    >
                      {{ item.formattedUrl }}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <a
                      mat-button
                      class="app__card_btn_goto"
                      target="_blank"
                      matTooltipPosition="below"
                      [matTooltip]="item.displayLink"
                      [href]="item.link"
                    >
                      Go to {{ item.displayLink }}
                    </a>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            }

            @if (isLoadMore$ | async) {
              <mat-grid-tile>
                <mat-card class="app__card app__card_loadmore" appearance="outlined" (click)="search(true)">
                  <span class="app__card_loadmore_text">Load more</span>
                </mat-card>
              </mat-grid-tile>
            }
          </mat-grid-list>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Cheerio">
    <div class="app__tab_content">
      <div class="app__search_wrapper">
        <form [formGroup]="formGrpCheerio" (ngSubmit)="scrape()">
          <mat-form-field appearance="outline" class="app__search">
            <mat-label>Search term:</mat-label>
            <input matInput formControlName="term" />
            @if (searchSCtrl.invalid) {
              <mat-error>Search term is required.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="app__search">
            <mat-label>Keywords [separate by comma (,)]:</mat-label>
            <input matInput formControlName="keywords" />
            @if (keywordsSCtrl.invalid) {
              <mat-error>Keywords is required.</mat-error>
            }
          </mat-form-field>

          <mat-checkbox formControlName="isExtract" class="app__checkbox">
            Extract content from HTML
          </mat-checkbox>

          <div class="app__search_btn_wrapper">
            <button mat-fab extended color="primary" class="app__search_btn" type="submit" [disabled]="isSubmitted">
              <mat-icon>search</mat-icon>
              SEARCH
            </button>
          </div>
        </form>
      </div>

      <div class="app__card_wrapper">
        <h6 class="app__result_found" [hidden]="resultCSize <= 0">Result found: {{ resultCSize }}</h6>
        <div class="app__results_wrapper">
          <mat-grid-list cols="3" gutterSize="20" rowHeight="125px">
            @for (item of cheerioResults; track item.link) {
              <mat-grid-tile>
                <mat-card class="app__card" appearance="outlined">
                  <mat-card-header>
                    <mat-card-title
                      class="app__card_title"
                      matTooltipPosition="below"
                      [matTooltip]="item.title"
                      [innerHTML]="item.title"
                    ></mat-card-title>
                    <mat-card-subtitle
                      class="app__card_subtitle"
                      matTooltipPosition="below"
                      [matTooltip]="item.link"
                    >
                      {{ item.link }}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <a
                      mat-button
                      class="app__card_btn_goto"
                      target="_blank"
                      matTooltipPosition="below"
                      [matTooltip]="item.displayedLink"
                      [href]="item.displayedLink"
                    >
                      Go to {{ item.displayedLink }}
                    </a>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            }
          </mat-grid-list>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
